body {
	margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 3em;
  margin-left: 2em;
	padding: 0;
	background: #003F87 repeat-x left top;
	font-family: Ariel;
	color: green;}

#menu    {width: 1200px; height: 20px; margin: 0 auto; padding: 1px 1px 1px 1px;}
#menu ul {margin: 0; padding: 1px 1px 1px 4px; list-style: none; line-height: normal;}
#menu li {float: left;}

#menu a {
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 1em;
  padding: 2px 2px 2px 2px;
	display: block;
	float: left;
	height: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Ariel;
	font-size: 12px;
	font-weight: bolder;
	color: #DD1144;
	border: none;
}

#menu a:hover {
text-decoration: underline;
color: green;
}
#menu a:active {
text-decoration:underline;
color: green;
}
#menu a:visited {
text-decoration: none;
color: purple;
}

#zoom
{
  font-size: 11px;
  background-color: white;
  padding: 2px;
  margin-top: 0em;
  margin-right: 100em;
  margin-bottom: 0em;
  margin-left: 0em;
}

#heading
{
  border: none;
  margin: 10px 100px 10px 100px;
  margin-top: 1em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 18em;
  font-family: Ariel;
  font-size: large;
  color: #DD1144;
}

#Heading
{
  border: none;
  margin: 10px 100px 10px 100px;
  margin-top: 1em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 8em;
  font-family: Ariel;
  font-size: large;
  color: #DD1144;  
}

.title
{
  margin-top: 0em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 10em;
  padding: 2px 200px 2px 200px;
  font-family: Ariel;
  font-size: x-large;
  color: green;
  border: none;
}

.subheading
{
  margin: -3px -3px 0px -3px;
  padding: 1px;
  font-family: Ariel;
  font-size: large;
  color: green;  
  border: none;
}

.p
{
  font-family: Ariel;
  font-size: small;
  color: green;  
  border: none;
}

#content
{
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 0em;
  margin-left: 0em;
  background-color: white;
  border: none;
  margin: 10px 10px 0px 10px;
  padding: 2px;
  font-family: Ariel;
  color: green;
}              

#bottom
{
  margin: 0px 0px 10px 0px;
  padding: 10px;
}





